<div class="contrainer">
  
  <div class="row">
    <div class="col-lg-4 col-md-6 offset-lg-2">
      <div class="flame ml-lg-5 text-center mb-4 mb-md-0">
        <div class="image m-3">
          <%= image_tag("red1.jpg", src: "/assets/images/red1.png", width: 200, hight: 200 ) %>
        </div>
        <div class="row d-flex justify-content-end mr-1">
          <div classs="badge bg-primary text-wrap", style="width: 12em;">
            <!--全角２０文字折り返し対応/半角２０文字は一行で表示-->
            user_name
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 pr-md-5 pt-md-4">
      <div class="about-flame">
        <strong>About</strong><br/><br/>
        <p>Own Paletteは好きな色のタグをつけて<br/>
        画像を投稿・閲覧できるSNSです。<br/><br/>
        右上のカラーパレットから色を<i class="fa-solid fa-arrow-pointer"></i>クリックすると<br/>
        投稿一覧ページへ遷移し、<br/>
        その色のタグのついた画像が表示されます。<br/><br/>
        コメント、投稿にはログインが必要です。</p>
      </div>
    </div>
  </div>
  
  
  <div class="row mt-5 justify-content-center">
    <div class="col-12 mb-3">
      <p>画像を<i class="fa-solid fa-arrow-pointer"></i>クリックすると、画像詳細画面へ移動します。<br/>
      名前を<i class="fa-solid fa-arrow-pointer"></i>選択すると、ユーザー詳細画面へ移動します。<br/><br/>
      ログインをしたら、<i class="fa-regular fa-heart"></i>いいねボタンが押せるようになります。<br/><br/>
      My pageではあなたのコレクションを見ることができます。</p>
    </div>
  </div>

</div>