@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 90%;
  padding: 15px 0;
  margin: 30px auto 0;
  text-align: center;
  border-bottom: solid 5px #000000;
}

main {
  width: 90%;
  padding: 15px 0;
  margin: 40px auto;
  text-align: center;
}

footer {
  width: 90%;
  padding: 15px 0;
  margin: 30px auto 0;
  text-align: center;
  border-top: solid 5px #000000;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-row {
  display: flex;
  justify-content: center;
  // margin-bottom: 10px;
}

.square {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.square-big {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 5px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.red { background-color: #e74c3c; }
.orange { background-color: #e67e22; }
.yellow { background-color: #f1c40f; }
.green { background-color: #2ecc71; }
.blue { background-color: #3498db; }
.purple { background-color: #9b59b6; }
.monochrome {
  background-color: #333;
  background-image: linear-gradient(135deg, #333, #ccc);
}
.other { 
  background-image: conic-gradient( #e74c3c 0deg 60deg, #e67e22 60deg 120deg,
    #f1c40f 120deg 180deg, #2ecc71 180deg 240deg, #3498db 240deg 300deg, #9b59b6 300deg 360deg);
}

.flame {
  width: 250px;
  height: 300px;
  background-color: white;
  border: 4px solid black;
}

@media (max-width: 992px) {
  .flame {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.user_form th{
  padding: 5px 25px 5px 0;
}

.comment-agree {
  border :2px solid #28a745;
}

.comment-neutral {
  border :2px solid #6c757d;
}

.comment-disagree {
  border: 2px solid #dc3545;
}
